# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.
1. python 
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas 
2. NumPy
3. Matplotlib

| Data Science Tools|
|:--------:|
| Apache spark | 
| MongoDB | 
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

### objective
+ Python
+ SQL
+ R

## Author
Ayush Das